/* ✅ 1. WAJIB DI PALING ATAS */
@import './variables.css';
@import './typography.css';

/* ✅ 2. BARU DIRECTIVE TAILWIND */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* ✅ 3. BARU STYLES LAINNYA */
body {
  background-color: var(--background);
  color: var(--text-primary);
  font-family: 'Poppins', sans-serif;
}